asgiref==3.8.1
certifi==2024.8.30
charset-normalizer==3.4.0
Django==4.2.16
django-cors-headers==4.7.0
idna==3.10
pytelegrambotapi==4.24.0
requests==2.32.3
sqlparse==0.5.2
typing-extensions==4.12.2
urllib3==2.2.3